
.container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 620px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 828px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 620px) {
    .container,
    .container-sm {
        max-width: 540px;
    }
}
@media (min-width: 828px) {
    .container,
    .container-md,
    .container-sm {
        max-width: 720px;
    }
}
@media (min-width: 1024px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1170px;
    }
}

.navbar .container,
.navbar .container-fluid,
.navbar .container-lg,
.navbar .container-md,
.navbar .container-sm,
.navbar .container-xl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media (max-width: 619.98px) {
    .navbar-expand-sm > .container,
    .navbar-expand-sm > .container-fluid,
    .navbar-expand-sm > .container-lg,
    .navbar-expand-sm > .container-md,
    .navbar-expand-sm > .container-sm,
    .navbar-expand-sm > .container-xl {
        padding-right: 0;
        padding-left: 0;
    }
}
@media (min-width: 620px) {
    
    .navbar-expand-sm > .container,
    .navbar-expand-sm > .container-fluid,
    .navbar-expand-sm > .container-lg,
    .navbar-expand-sm > .container-md,
    .navbar-expand-sm > .container-sm,
    .navbar-expand-sm > .container-xl {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    .navbar-expand-sm .navbar-collapse {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .navbar-expand-sm .navbar-toggler {
        display: none;
    }
}
@media (max-width: 827.98px) {
    .navbar-expand-md > .container,
    .navbar-expand-md > .container-fluid,
    .navbar-expand-md > .container-lg,
    .navbar-expand-md > .container-md,
    .navbar-expand-md > .container-sm,
    .navbar-expand-md > .container-xl {
        padding-right: 0;
        padding-left: 0;
    }
}
@media (min-width: 828px) {
  
    .navbar-expand-md > .container,
    .navbar-expand-md > .container-fluid,
    .navbar-expand-md > .container-lg,
    .navbar-expand-md > .container-md,
    .navbar-expand-md > .container-sm,
    .navbar-expand-md > .container-xl {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
 
}
@media (max-width: 1023.98px) {
    .navbar-expand-lg > .container,
    .navbar-expand-lg > .container-fluid,
    .navbar-expand-lg > .container-lg,
    .navbar-expand-lg > .container-md,
    .navbar-expand-lg > .container-sm,
    .navbar-expand-lg > .container-xl {
        padding-right: 0;
        padding-left: 0;
    }
}
@media (min-width: 1024px) {
    
    .navbar-expand-lg > .container,
    .navbar-expand-lg > .container-fluid,
    .navbar-expand-lg > .container-lg,
    .navbar-expand-lg > .container-md,
    .navbar-expand-lg > .container-sm,
    .navbar-expand-lg > .container-xl {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
   
}
@media (max-width: 1199.98px) {
    .navbar-expand-xl > .container,
    .navbar-expand-xl > .container-fluid,
    .navbar-expand-xl > .container-lg,
    .navbar-expand-xl > .container-md,
    .navbar-expand-xl > .container-sm,
    .navbar-expand-xl > .container-xl {
        padding-right: 0;
        padding-left: 0;
    }
}
@media (min-width: 1200px) {
 
    .navbar-expand-xl > .container,
    .navbar-expand-xl > .container-fluid,
    .navbar-expand-xl > .container-lg,
    .navbar-expand-xl > .container-md,
    .navbar-expand-xl > .container-sm,
    .navbar-expand-xl > .container-xl {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    
}

.navbar-expand > .container,
.navbar-expand > .container-fluid,
.navbar-expand > .container-lg,
.navbar-expand > .container-md,
.navbar-expand > .container-sm,
.navbar-expand > .container-xl {
    padding-right: 0;
    padding-left: 0;
}

.navbar-expand > .container,
.navbar-expand > .container-fluid,
.navbar-expand > .container-lg,
.navbar-expand > .container-md,
.navbar-expand > .container-sm,
.navbar-expand > .container-xl {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
@media print{
    .container {
        min-width: 1024px !important;
    }
    
}

@media (max-width: 827.98px) {
    .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        padding-right: 40px;
        padding-left: 40px;
    }
}


.navbar-left .container,

.navbar-left .container {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.navbar-left .container > .navbar-nav {
    margin-top: auto;
    margin-bottom: auto;
}
.navbar-left .container > .navbar-nav .nav {
    font-size: 16px;
}


.navbar-mobile-style-2 > .container {
    display: block;
    margin-bottom: 50px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .navbar-mobile-style-2 > .container {
        margin-top: 90px;
    }
}
.navbar-mobile-style-2 .navbar-head {
    margin-bottom: 50px;
}
.navbar-mobile-style-2 .navbar-head .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.navbar-mobile-style-4 .navbar-footer .container {
    display: block;
}

.navbar-top .container > .navbar-nav > .navbar-dropdown:not(.navbar-dropdown-mega) > .nav-link svg {
    display: none;
}
.navbar-top .container > .navbar-nav > .navbar-dropdown:not(.navbar-dropdown-mega) > .dropdown-menu {
    margin-top: 0;
    margin-left: -10px;
}

.navbar-dropdown-mega .dropdown-menu .container {
    display: block;
    height: auto;
}
.navbar-dropdown-mega .dropdown-menu .container .nav-link {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
.navbar-dropdown-mega .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.navbar-dropdown-mega .nav-link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.navbar-dropdown-mega .nav-link:focus .nav-link-image,
.navbar-dropdown-mega .nav-link:hover .nav-link-image {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}
.navbar-dropdown-mega .active > .nav-link .nav-link-image {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}
.navbar-dropdown-mega .nav-link-name {
    -ms-flex-item-align: start;
    align-self: flex-start;
}
.navbar-dropdown-mega .nav-link-image {
    display: block;
    height: 100%;
    margin-bottom: 22px;
    border: 1px solid #ddd;
    will-change: transform;
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.2, 1, 0.2, 1);
    transition: -webkit-transform 0.6s cubic-bezier(0.2, 1, 0.2, 1);
    -o-transition: transform 0.6s cubic-bezier(0.2, 1, 0.2, 1);
    transition: transform 0.6s cubic-bezier(0.2, 1, 0.2, 1);
    transition: transform 0.6s cubic-bezier(0.2, 1, 0.2, 1), -webkit-transform 0.6s cubic-bezier(0.2, 1, 0.2, 1);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
.navbar-dropdown-mega .nav-link-image img {
    display: block;
    width: 100%;
}
.navbar-hide .dropdown-menu {
    display: none;
}
.navbar-dark .navbar-dropdown-mega .nav-link-image {
    border-color: #202020;
}
.navbar-collapse {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 100%;
}
.navbar-collapse .nav-link {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%;
}
.navbar-collapse .navbar-nav {
    margin: -12px 0;
}
.navbar-collapse .navbar-nav .nav-link {
    padding: 12px 0;
}
.navbar-nav.navbar-nav-collapse {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin: -12px 0;
}
.navbar-nav.navbar-nav-collapse .nav-link {
    padding: 12px 0;
}
.navbar-collapse-menu {
    width: 100%;
}
.navbar-collapse-menu > .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
}
.navbar-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.navbar-toggle > span {
    width: 24px;
    height: 2px;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: currentColor;
    will-change: transform, opacity;
    -webkit-transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    -webkit-transform-origin: center right;
    -ms-transform-origin: center right;
    transform-origin: center right;
}
.navbar-toggle > span:nth-child(3) {
    -webkit-transform: scaleX(0.5);
    -ms-transform: scaleX(0.5);
    transform: scaleX(0.5);
}
.navbar-toggle:hover > span:nth-child(3) {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}
.fancybox-open .navbar-toggle > span:nth-child(1) {
    -webkit-transform: rotate(-45deg) translateX(0.5px);
    -ms-transform: rotate(-45deg) translateX(0.5px);
    transform: rotate(-45deg) translateX(0.5px);
}
.fancybox-open .navbar-toggle > span:nth-child(2) {
    opacity: 0;
}
.fancybox-open .navbar-toggle > span:nth-child(3) {
    -webkit-transform: rotate(45deg) translateX(0.5px);
    -ms-transform: rotate(45deg) translateX(0.5px);
    transform: rotate(45deg) translateX(0.5px);
}
.banner {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding-top: 90px;
    margin-top: -90px;
}
@media (max-width: 1199.98px) {
    .banner {
        overflow: hidden;
    }
}
.banner-dark {
    position: relative;
    z-index: 1;
}
.banner-dark::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 100px;
    left: 0;
    background-color: #0e0e0e;
}
.footer {
    position: relative;
    width: 100%;
    margin-top: auto;
}
.footer-copyright {
    font-size: 0.875em;
    color: #969696;
}
.cursor {
    position: fixed;
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    opacity: 0;
    will-change: transform, width, height, top, left, background-color, opacity;
    -webkit-transition: width 0.2s ease, height 0.2s ease, top 0.2s ease, left 0.2s ease, background-color 0.2s ease, opacity 0.15s ease;
    -o-transition: width 0.2s ease, height 0.2s ease, top 0.2s ease, left 0.2s ease, background-color 0.2s ease, opacity 0.15s ease;
    transition: width 0.2s ease, height 0.2s ease, top 0.2s ease, left 0.2s ease, background-color 0.2s ease, opacity 0.15s ease;
    z-index: 9999999;
}
.cursor-hover {
    opacity: 1;
}
.cursor-circle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: -45px;
    left: -45px;
    width: 90px;
    height: 90px;
    font-size: 0.9375em;
    font-weight: 500;
    color: #0e0e0e;
}
.cursor-circle::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    border-radius: 100%;
    will-change: transform;
    -webkit-transition: -webkit-transform 0.2s ease;
    transition: -webkit-transform 0.2s ease;
    -o-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    z-index: -1;
}
.cursor-hover::after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.cursor-enabled [data-cursor-style="cursor-circle"],
.cursor-enabled [data-cursor-style="cursor-circle"] * {
    cursor: none !important;
}
.cursor-text {
    top: 25px;
    left: 20px;
    padding: 9px 26px;
    font-size: 1.25em;
    font-weight: 500;
    color: #fff;
    background-color: #0e0e0e;
}
@media (max-width: 1199.98px) {
    [data-cursor-style="cursor-text"] {
        position: relative;
    }
    [data-cursor-style="cursor-text"]::after {
        content: attr(data-cursor-text);
        position: absolute;
        display: block;
        right: 0;
        bottom: 0;
        max-width: 100%;
        padding: 9px 26px;
        font-size: 1.25em;
        font-weight: 500;
        color: #fff;
        background-color: #0e0e0e;
        opacity: 0;
        will-change: opacity;
        -webkit-transition: opacity 0.2s ease-in-out;
        -o-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out;
    }
    [data-cursor-style="cursor-text"]:focus::after,
    [data-cursor-style="cursor-text"]:hover::after {
        opacity: 1;
    }
}
.shape {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    display: none;
}
@media (min-width: 1200px) {
    .shape {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}
.shape svg {
    -webkit-transition: -webkit-transform 1.3s cubic-bezier(0.2, 1, 0.2, 1);
    transition: -webkit-transform 1.3s cubic-bezier(0.2, 1, 0.2, 1);
    -o-transition: transform 1.3s cubic-bezier(0.2, 1, 0.2, 1);
    transition: transform 1.3s cubic-bezier(0.2, 1, 0.2, 1);
    transition: transform 1.3s cubic-bezier(0.2, 1, 0.2, 1), -webkit-transform 1.3s cubic-bezier(0.2, 1, 0.2, 1);
    z-index: -1;
}
.shape-parent {
    position: relative;
    z-index: 0;
}
.feature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.feature-icon {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    margin-right: 30px;
    font-size: 1.125em;
    font-weight: 500;
}
.feature-icon > svg:first-child {
    position: absolute;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .feature-icon > svg:first-child {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}
.feature-body .feature-title {
    margin-bottom: 14px;
}
.feature-body .feature-text {
    margin-bottom: 0;
}
.feature-body p {
    margin-bottom: 1.125em;
    font-size: 1em;
}
.feature-body .btn {
    margin-top: 19px;
}
.review-icon {
    margin-bottom: 92px;
}
.review-text {
    font-size: 1.5em;
    font-weight: 500;
}
.review-author {
    margin-top: 33px;
    font-size: 0.9375em;
    opacity: 0.6;
}
@media (min-width: 1024px) {
    .lines-style-1 {
        position: relative;
    }
    .lines-style-1 .line {
        position: absolute;
        display: block;
        border-color: currentColor;
        border-style: solid;
        border-width: 0;
    }
    .lines-style-1 .line:nth-of-type(1) {
        top: 130px;
        left: 0;
        width: 170px;
        border-top-width: 1px;
    }
    .lines-style-1 .line:nth-of-type(2) {
        right: 200px;
        bottom: 130px;
        height: 70px;
        border-right-width: 1px;
    }
    .lines-style-2 .line {
        position: absolute;
        display: block;
        top: 50%;
        right: -35px;
        width: 70px;
        border-top: 1px solid currentColor;
        z-index: 1;
    }
    .lines-style-3 .line {
        position: absolute;
        display: block;
        right: 50%;
        bottom: 0;
        height: 70px;
        border-right: 1px solid currentColor;
        z-index: 1;
    }
    .lines-style-4 .line {
        position: absolute;
        display: block;
        border-color: currentColor;
        border-style: solid;
        border-width: 0;
        z-index: 1;
    }
    .lines-style-4 .line:nth-of-type(1) {
        top: 170px;
        right: 0;
        width: 170px;
        border-top-width: 1px;
    }
    .lines-style-4 .line:nth-of-type(2) {
        bottom: 0;
        left: 200px;
        height: 70px;
        border-right-width: 1px;
    }
    .lines-style-5 .line {
        position: absolute;
        display: block;
        top: 37px;
        right: -35px;
        width: 70px;
        border-top: 1px solid currentColor;
        z-index: 1;
    }
    .lines-style-6 .line {
        position: absolute;
        display: block;
    }
    .lines-style-6 .line:nth-child(1) {
        top: 72px;
        right: 89px;
        width: 168px;
        border-top: 1px solid currentColor;
    }
    .lines-style-6 .line:nth-child(2) {
        bottom: -66px;
        left: 133px;
        height: 70px;
        border-left: 1px solid currentColor;
    }
}
.interactive-links {
    position: relative;
    padding-left: 0;
    list-style: none;
}
.interactive-links.flex-column {
    font-size: 16px;
}
@media (max-width: 827.98px) {
    .interactive-links .h1 {
        font-size: 3.125em;
    }
}
.interactive-links .nav-item {
    position: relative;
}
.interactive-links .nav-link {
    position: relative;
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 0;
    z-index: 1;
}
@media (min-width: 1200px) {
    .interactive-links .nav-link {
        padding-right: 100px;
        padding-left: 100px;
    }
}
.interactive-links .nav-link:focus,
.interactive-links .nav-link:hover {
    color: inherit;
}
.interactive-links .nav-link:focus ~ .subtitle,
.interactive-links .nav-link:hover ~ .subtitle {
    opacity: 1;
}
.interactive-links .subtitle {
    margin-top: -43px;
    margin-bottom: 0;
    margin-left: 15px;
    color: inherit;
    will-change: opacity, transform;
    -webkit-transition: opacity 0.15s, -webkit-transform 0.25s ease-in-out;
    transition: opacity 0.15s, -webkit-transform 0.25s ease-in-out;
    -o-transition: opacity 0.15s, transform 0.25s ease-in-out;
    transition: opacity 0.15s, transform 0.25s ease-in-out;
    transition: opacity 0.15s, transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}
.interactive-links.focus .subtitle,
.interactive-links:hover .subtitle {
    opacity: 0.6;
}
.interactive-links-image {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    will-change: opacity;
    -webkit-transition: opacity 0.1s ease-in-out;
    -o-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
}
.interactive-links-image.hover,
.interactive-links-image.transition-end {
    position: fixed;
    display: block;
}
.interactive-links-image.hover {
    opacity: 1;
}
.interactive-links.text-white a {
    color: #fff;
}
.interactive-links-style-2 .interactive-links-image {
    top: 20%;
    right: 20%;
    left: auto;
    width: 40%;
}
.interactive-links-style-2.flex-column {
    margin: -45px -100px;
}
.interactive-links-style-2.flex-column .nav-link {
    padding: 45px 140px;
}
.interactive-links-style-2.flex-column .nav-link ~ .subtitle {
    margin-left: 140px;
}
@media (max-width: 827.98px) {
    .interactive-links-style-2.flex-column {
        margin-right: 0;
        margin-left: 0;
    }
    .interactive-links-style-2.flex-column .nav-link {
        padding-right: 0;
        padding-left: 0;
    }
    .interactive-links-style-2.flex-column .nav-link ~ .subtitle {
        margin-left: 0;
    }
}
@media (min-width: 828px) {
    .interactive-links-style-2.flex-column {
        padding-left: 10px;
    }
    .interactive-links-style-2.flex-column .subtitle {
        -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
        transform: translateX(-40px);
    }
    .interactive-links-style-2.flex-column .nav-link {
        will-change: transform;
        -webkit-transition: opacity 0.25s, -webkit-transform 0.25s ease-in-out;
        transition: opacity 0.25s, -webkit-transform 0.25s ease-in-out;
        -o-transition: opacity 0.25s, transform 0.25s ease-in-out;
        transition: opacity 0.25s, transform 0.25s ease-in-out;
        transition: opacity 0.25s, transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
        -webkit-transform: translateX(-40px);
        -ms-transform: translateX(-40px);
        transform: translateX(-40px);
    }
    .interactive-links-style-2.flex-column .nav-link::before {
        content: "";
        position: absolute;
        display: block;
        top: 1.21429em;
        left: 0;
        width: 70px;
        border-top: 1px solid currentColor;
        will-change: transform;
        -webkit-transition: -webkit-transform 0.25s ease-in-out;
        transition: -webkit-transform 0.25s ease-in-out;
        -o-transition: transform 0.25s ease-in-out;
        transition: transform 0.25s ease-in-out;
        transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
        -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: left center;
        -ms-transform-origin: left center;
        transform-origin: left center;
    }
    .interactive-links-style-2.flex-column .nav-link:focus,
    .interactive-links-style-2.flex-column .nav-link:hover {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    .interactive-links-style-2.flex-column .nav-link:focus::before,
    .interactive-links-style-2.flex-column .nav-link:hover::before {
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1);
    }
    .interactive-links-style-2.flex-column .nav-link:focus ~ .subtitle,
    .interactive-links-style-2.flex-column .nav-link:hover ~ .subtitle {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
.interactive-links-style-3 .interactive-links-image {
    position: absolute;
    top: 20%;
    right: 20%;
    left: auto;
    z-index: -1;
}
.interactive-links-style-3 .nav-item {
    position: relative;
}
.interactive-links-style-3.flex-column {
    margin: -45px 0;
}
.interactive-links-style-3.flex-column .subtitle {
    margin-left: 0;
}
.interactive-links-style-3.flex-column .nav-link {
    padding: 45px 0;
}
@media (max-width: 827.98px) {
    .interactive-links-style-3.flex-column {
        margin-right: 0;
        margin-left: 0;
    }
    .interactive-links-style-3.flex-column .nav-link {
        padding-right: 0;
        padding-left: 0;
    }
}
.background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.background-color,
.background-image {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.number-box {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.number-box-title {
    margin-bottom: 0;
}
.number-box-subtitle {
    font-weight: 500;
}
[data-toggle="collapse"] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
[aria-expanded="true"] .collapse-icon {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.collapse-icon {
    margin-left: 30px;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}
.accordion .collapse-content {
    padding-bottom: 13px;
    padding-left: 47px;
}
.accordion-item {
    padding-bottom: 10px;
    border-bottom: 1px solid #0e0e0e;
}
.accordion-item [data-toggle="collapse"] {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-top: 22px;
    padding-bottom: 12px;
    margin-bottom: 0;
}
.accordion-item [aria-expanded="true"] .accordion-item-plus path:nth-child(1) {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
}
.accordion-item-plus {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: 4px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.accordion-item-plus path:nth-child(1) {
    will-change: transform;
    -webkit-transition: -webkit-transform 0.15s ease-in-out;
    transition: -webkit-transform 0.15s ease-in-out;
    -o-transition: transform 0.15s ease-in-out;
    transition: transform 0.15s ease-in-out;
    transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: bottom;
    -ms-transform-origin: bottom;
    transform-origin: bottom;
}
.accordion-item-icon {
    width: 24px;
    margin-right: 23px;
}
.list-group .list-group-highlight {
    font-weight: 500;
}
.list-group-gap .list-group-item {
    padding-top: 4px;
    padding-bottom: 4px;
}
.list-group.borderless .list-group-item {
    border: 0;
}
.media-review {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.media-review .media-img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80px;
    flex: 0 0 80px;
    max-width: 80px;
    margin-right: 30px;
}
.media-review .media-img ~ .media-text {
    margin-top: 30px;
    margin-bottom: 0;
}
.media-review .media-body {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    max-width: 100%;
}
.media-review .media-title {
    margin-bottom: 2px;
    color: inherit;
}
.media-review .media-subtitle {
    font-size: 0.875em;
}
.media-review .media-text {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 50px;
    font-weight: 500;
}
.gallery-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.gallery-item img {
    width: 100%;
    will-change: transform;
    -webkit-transition: -webkit-transform 1.8s cubic-bezier(0.2, 1, 0.2, 1);
    transition: -webkit-transform 1.8s cubic-bezier(0.2, 1, 0.2, 1);
    -o-transition: transform 1.8s cubic-bezier(0.2, 1, 0.2, 1);
    transition: transform 1.8s cubic-bezier(0.2, 1, 0.2, 1);
    transition: transform 1.8s cubic-bezier(0.2, 1, 0.2, 1), -webkit-transform 1.8s cubic-bezier(0.2, 1, 0.2, 1);
}
.gallery-item .btn {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.gallery-item .gallery-item-icon {
    position: absolute;
    top: 50%;
    opacity: 0;
    will-change: transform, opacity;
    -webkit-transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    -o-transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    -webkit-transform: translateY(-50%) scale(1.1);
    -ms-transform: translateY(-50%) scale(1.1);
    transform: translateY(-50%) scale(1.1);
}
.gallery-item .background-color {
    opacity: 0;
    will-change: opacity;
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}
.gallery-item:focus img,
.gallery-item:hover img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.gallery-item:focus .gallery-item-icon,
.gallery-item:hover .gallery-item-icon {
    opacity: 1;
    -webkit-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    transform: translateY(-50%) scale(1);
}
.gallery-item:focus .background-color,
.gallery-item:hover .background-color {
    opacity: 1;
}
.gallery-item-lg,
.gallery-item-md,
.gallery-item-sm,
.gallery-item-xl {
    position: relative;
    overflow: hidden;
}
@media (max-width: 619.98px) {
    .gallery-item-lg,
    .gallery-item-md,
    .gallery-item-sm,
    .gallery-item-xl {
        min-height: 300px;
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .brand-bordered {
        position: relative;
    }
    .brand-bordered svg {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

@media (min-width: 620px) {
    .w-sm-auto {
        width: auto !important;
    }
}
@media (max-width: 619.98px) {
    .w-xs-100 {
        width: 100% !important;
    }
}
.box-shadow {
    -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.08);
}
.overflow-initial {
    overflow: initial;
}
.text-grey {
    color: #bcbcbc !important;
}
.text-grey-dark {
    color: #535353 !important;
}
